@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.title-and-menu {
    display: flex;
    align-items: center;
}

.title-and-menu h1 {
    margin-right: 20px;
}

.li.demo {
    color: #766df4;
}

.container {
    margin-bottom: 300px;
    width: 89%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    border-radius: 38px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 84px;
    margin-left: 50px;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 40px;
    border-radius: 38px;
    height: auto;
    margin-left: 10px;
}

h1 {
    font-size: 28px;
    margin-right: 30px;
    color: #f7f7fc;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 60px;
    
}

nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #37384e;
   
}

nav ul li a.demo {
    color: #766df4;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    
}

.gray-background {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 30px;
}

.texto1 {
    display: flex;
    align-items: center;
}

.image-container {
    flex: 0 0 auto;
    margin-right: -100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-container img {
    max-width: 70%;
    border-radius: 8px;
    margin-left: 10px;
}

.text-container {
    flex: 1;
}

.purple-button {
    background-color: #766df4;
    color: #fff;
    border: none;
    padding: 20px 31px;
    border-radius: 5px;
    cursor: pointer;
}

.recuadro {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.contenido {
    display: flex;
    align-items: center;
}

.texto {
    margin-left: 20px;
}

.texto h2 {
    margin-bottom: 10px;
}

.imagen-pequeña {
    width: 600px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagination-info {
    display: flex;
    align-items: center;
}

.pagination-info label {
    margin-right: 5px;
    font-size: 14px;
    color: #555;
}

.pagination-info select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
}

.pagination-info span {
    font-size: 14px;
    color: #555;
}

.pagination-controls {
    display: flex;
    align-items: center;
}

.pagination-controls a,
.pagination-controls span {
    padding: 8px 12px;
    margin: 0 2px;
    text-decoration: none;
    font-size: 14px;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-controls a:hover {
    background-color: #6c63ff;
    color: #fff;
}

.pagination-controls .active {
    background-color: #6c63ff;
    color: #fff;
    border-color: #6c63ff;
}

.pagination-controls .prev,
.pagination-controls .next {
    font-weight: bold;
}

.pagination-controls span {
    border: none;
}


footer {
    background-color: #2f3241;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    color:  #bcbecd;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

.footer-section a:hover {
    color: #ccc;
}

.subscribe form {
    display: flex;
    align-items: center;
}

.subscribe input[type="email"] {
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 14px;
    flex-grow: 1;
}

.subscribe button {
    padding: 12px;
    border: none;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
}

.subscribe button:hover {
    background-color: #5553cc;
}

.social-icons {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.icon-box {
    margin: 0 10px;
}

.icon-box img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: left;
    padding: 10px;

    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color:#bcbecd;
}